.players {
    margin: 5rem auto;
    width: 98%;
    border: 2px solid #ff5;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.each-player{
    width: 12rem;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    margin: 1rem;
    padding: 1rem 2rem;

}
.description{
    display: flex;
    align-items: center;
    justify-content: space-between


}

img {
    width: 100%;
}

.name {
    margin: 3rem auto;
}
.bottomDiv {
    display: flex;
}