.team-logos-games {
    width: 10vw;
}

.each-game {
    display: flex;
    align-items: center;
    padding: 1rem;
}

.game-container {
border-bottom: 1px solid gray;
display: flex;
flex-direction: column;
align-items: center;

}
.away-home {
display: flex;
align-items: center;
flex-direction: column;
padding: 1rem;
}

.at-sign {
    font-size: 2rem;
}

.date {
    text-align: center;
    border-bottom: 1px solid rgb(106, 6, 221);
}

@media(max-width: 500px) {
    .team-logos-games {
        width: 25vw;
    }
    .away-home {
        align-items: flex-start;
    }
}